.main {
  margin-top: 24px;
  display: flex;
  background-color: #dedbdb7d;
  border-radius: 8px;
}

.greetings {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin-left: 72px;
  padding-top: 60px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.form-input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  margin-bottom: 8px;
  margin-top: 8px;
}

.form-text {
  resize: none;
  width: 360px;
  height: 80px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-top: 8px;
}

.form-button {
  border-radius: 8px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  color: #fff;
  margin-top: 16px;
}
